table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}
th.mat-header-cell {
    font-size: 12px;
    font-family: 'Lato';
    font-weight: bold;
}

.box-shadow {
    margin: 15px 25px;
    border-right: 1px solid #eee;
    box-shadow: 10px 0 20px 10px rgb(0 0 0 / 10%);
}
.header-container {
    display: flex;
    justify-content: space-between;
}